.choose-us-section {
  background-color: #0d0225;
  padding-top: 150px;

}


.choose__img img {
  border-radius: 20px;
}

.choose__content {
  color: #fff;
  padding-right: 50px
  
  ;
}

.choose__content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 600px;
  
}
.choose__content p{
font-size: 20px;

}

.choose__img {
  position: relative;
  /* top: 50px; */
  bottom: 50px;
  padding-left: 40px;
  left: 0;
  width: 90%;
  height: 100%;
  z-index: 777;
}



