


* {
  box-sizing: inherit;
}

.subs {
 
  background-color:#6c37f4;
  
  height: 600px;
  
  
}

.subs h2.mb-4 {
padding-top: 150px;
  font-size: 70px;
  
  text-align: center; 
  /* Adjust the margin as needed */
}

.newsletter h2 {
  color: #fff;
  padding-bottom: 30px;
  text-align: center;
}

.subscribe button,
.subscribe button:focus,
.subscribe button:active {
  outline: none;
  box-shadow: none;
  border: none; /* Remove the default outline on button click and focus */
}

.subscribe {
  padding: 20px; /* Adjusted padding for spacing */
  /* background: #fff; */
  width: 20%;
  text-align: center;
  margin: auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.subscribe-btn {
  background-color: rgb(82, 186, 214);
  color: black;
  border: 2px solid #52c4f1;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
 margin-top: 20px;
  transition: background-color 0.3s;
}
.highlight {
  color: rgb(250, 196, 96); 
  font-weight: bold;
}

.subscribe-btn:hover {
  background-color: #449aea;
  color:black;

}



.subscribe button:hover{
  background-color: rgb(98, 225, 241);

  font-weight: bold;
  color: black;
}